// COLORS
$color-primary: #25a100;
$color-primary-dark: #4eb330;
$color-primary-light: #72d854;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-error: #c02640;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f8f8f8;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #dfdfdf;
$color-grey-dark-4: #c0c0c0;
$color-grey-dark-5: #cccccc;

$color-white: #fff;
$color-black: #000;

//
$default-font-size: 1.6rem;
$default-font-color: #333;

$navbar-font-size: 1.5rem;
$topbar-font-size: 1.8rem;
// GRID
$base-width: 115rem;
$gutter-vertical: 2rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 3rem;
